extends layout

block layout-content
  link(rel="stylesheet" href="/style.css")
  meta(name='nodeH' content=nodeHeight)
  meta(name='localIp' content=localIp)
  script.
    document.addEventListener("DOMContentLoaded", () => { 
      console.log("Load initiated");
    });
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      a(href="/settings")
       img.logo(src="gear-solid.svg" alt="Settings" Title="Settings")
      li
      a(href="https://wallet.conceal.network" target="_blank" rel="noopener")
       img.logo(src="wallet-solid.svg" alt="Wallet" Title="Wallet")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="Conceal")
      li 
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" alt="Logout") 
      .version v#{version}
    div.ScrollableContent
      sectionM(id="Node")
        .MessageZero
          .Title(id="node_click")
           h1 Node :
          .inlineH Guardian service is
            if guardianstatus === 'active' || guardianstatus === 'RUNNIN'
              h3 Active
            else
              h4 Not Active
          if isSGi
            if guardianstatus === 'active' || guardianstatus === 'RUNNIN'
              if isSGi
                br
                h51.inlineH Height: 
                h31.inlineH(id='blockchain_height') #{nodeHeight}
                br
                h51.inlineH Status:  
                h31.inlineH #{nodeStatus}
                p
                a(href=urlN target="_blank" rel="noopener") open API
                p
                a.NavButton(href="/guardiand") Deactivate
            else
              p
              a(href="/nsettings") Modify Guardian Config
              p
              a(href="/csettings") Update Conceal-core
              p
              a.NavButton(href="/guardiana") Activate
          else
            h8 Cannot find Guardian service
          if upgrade
            h8 Conceal Core upgrade available 
      sectionM(id="Miner")
        .MessageSuite
          .Title(id="miner_click")
           h1 Miner :
          .inlineH Mining service is 
            if minerstatus === 'active' || minerstatus === 'RUNNIN'
              h3 Active
            else
              h4 Not Active
          if isSMi
            if minerstatus === 'active' || minerstatus === 'RUNNIN'
              li.inlineH
                h51 Hashrate:
                h31(id='miner_hash') #{hashrate}
                h51(id='miner_hash_unit') H/s
              p
              a(href=urlM target="_blank" rel="noopener") open API
              p
              a.NavButton(href="/minerd") Deactivate
            else
              p
              a(href="/msettings?toshow=0") Modify Miner Settings
              p
              if os === 'linux'
                a(href="/msoftware?toshow=0") Modify Mining Software
                p
              a.NavButton(href="/minera") Activate
          else
            h8 Cannot find mining service    
  //
    script. 
      (
      setTimeout (() => {
      (() => { 
      if (window.localStorage) { 
      if (!localStorage.getItem('reload')) { 
      localStorage['reload'] = true; 
      window.location.reload(); 
      } else { 
      localStorage.removeItem('reload'); 
      } 
      } 
      })
      (); 
      } , 4500)
      )
  script
    include ../frontend/netx.js
  