extends layout

block layout-content
  link(rel="stylesheet" href="/style.css")
  script. 
    (document.addEventListener("DOMContentLoaded", () => { 
    console.log("Load initiated");
    }))     
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      a(href="/settings")
       img.logo(src="gear-solid.svg" alt="Settings" Title="Settings")
      li
      a(href="https://wallet.conceal.network" target="_blank" rel="noopener")
       img.logo(src="wallet-solid.svg" alt="Wallet" Title="Wallet")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="Conceal")
      li 
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" alt="Logout") 
      .version v#{version}
    sectionM(id="Node")
      .MessageZero
        .Title
         h1 Node :
        ul.Details Guardian servive is
          -var gs = guardianstatus
          -if (gs === 'active')
            li.h3 active
            li
            h51 Height: 
            h31.inlineH #{nodeHeight}
            h51.inlineH Status: 
            h31.inlineH #{nodeStatus}
            p
            a(href=urlN target="_blank" rel="noopener") open API
            p
            a.NavButton(href="/guardiand") Deactivate
          -else
            li.h4 Not Active
            p
            a(href="/csettings") Update Conceal-core
            p
            a.NavButton(href="/guardiana") Activate
          -if (upgrade == true)
            h8 Conceal Core upgrade available 
    sectionM(id="Miner")
      .MessageSuite
        .Title
         h1 Miner :
        ul.Details Mining service is
          -var ms = minerstatus
          -if (ms === 'active')
            li.h3 Active
            p
            a(href=urlM target="_blank" rel="noopener") open API
            p
            a.NavButton(href="/minerd") Deactivate
          -else
            li.h4 Not Active
            p
            a(href="/msettings?toshow=0") Modify Miner Settings
            p
            a(href="/msoftware?toshow=0") Modify Mining Software
            p
            a.NavButton(href="/minera") Activate   
  script. 
    (
    setTimeout (() => {
    (() => { 
    if (window.localStorage) { 
    if (!localStorage.getItem('reload')) { 
    localStorage['reload'] = true; 
    window.location.reload(); 
    } else { 
    localStorage.removeItem('reload'); 
    } 
    } 
    })
    (); 
    } , 4500)
    )
