extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version}
    form(action="/msettingsc" method="POST" id="inject")
    form(method="POST" action="/msettingsc?_method=DELETE" id="cancel")
        div.MessageConfirm
          div.Title
            h1 miner settings
          span.Details Software: #{software}
          br
          h5  Mining Address :
          h2 #{wallet}
          br
          table
            tr
              th Mining Pool
              th Port
              th TLS
            tr
              td #{pool}
              td #{port}
              td #{tls}
          br
          .inlineH
            h5 Miner Name:
            h2 #{rigname}
          br
          .inlineH
            h5 password:
            h2 #{password}
          br
          .inlineH
            h7 keep only new and previous flight sheet
            span
              input(type="checkbox" id="switch" name="cleanswt" checked=false form="inject")
              label.toggle(for="switch") 
          br
          br
          button.inlinebutton(type="submit" form="cancel") Cancel
          button.inlinebutton(type="submit" form="inject") Confirm
          br
          h7.right Description : #{description}
            