extends layout

block layout-content

  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version} 
    form(action="/msettings" method="POST" id="modify")
        div.MessageConfirm
          div.Title
            h1 miner settings
          span.Details Software: #{software}
          div.form-group
            label(for="wallet") Mining Address :
            input(type="text" style="width: 19rem; overflow-wrap: break-word;" id="wallet" name="wallet" value=wallet placeholder=wallet)
          
          div.form-group
            div.inlineH
              label(for="pool" & "port") Mining Pool, port   
            div.pool-inputs
              input(type="text" style="width: 15.5rem;" id="pool" name="pool" value=pool placeholder=pool)
              span 
                input(type="text" style="width: 3rem;" id="port" name="port" value=port placeholder=port)
          
          div.form-group
            div.tls-group
              label(for="tlsswt") TLS
              div.toggle-wrapper
                if (tls == "true")
                  input(type="checkbox" id="tlsswt" name="tlsswt" checked)
                else
                  input(type="checkbox" id="tlsswt" name="tlsswt")
                label.toggle(for="tlsswt")
              
          div.form-group
            label(for="rigname") Miner Name :
            input(type="text" style="width: 90%;" id="rigname" name="rigname" value=rigname placeholder=rigname)
          
          div.form-group
            label(for="password") Password :
            input(type="text" style="width: 90%;" id="password" name="password" value=password placeholder=password)
          
          div.form-group
            label(for="description") Description :
            input(type="text" style="width: 90%;" id="description" name="description" value=description)

          div.flight-nav
            -let m = eval(shown) - 1
            -let p = eval(shown) + 1
            -let moins = "/msettings?toshow=" + m
            -let plus = "/msettings?toshow=" + p
            a(href=moins).nav-item
              img.caret-icon(src="caret-left.svg" alt="Previous")
            span.nav-item Flight Sheet # #{shown}
            if (p <= last)
              a(href=plus).nav-item
                img.caret-icon(src="caret-right.svg" alt="Next")
          
          button(type="submit" form="modify") Modify
          if (message != '')
            h4 #{message}