extends layout

block layout-content

  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version}
    form(action="/msoftware" method="POST" id="modify")
        div.MessageConfirm
          div.Title
            h1 mining software
          span.Details Software: #{software}
          br
          label(for="wdir")  Working Directory :
          br
          input(type="text" style="width: 19rem; overflow-wrap: break-word;" id="wdir" name="wdir" value=wdir placeholder=wdir)
          br
          br
          label(for="mpath")  Miner Path :
          br
          input(type="text" style="width: 19rem; overflow-wrap: break-word;" id="mpath" name="mpath" value=mpath placeholder=mpath)
          br
          br
          span.center
            -let m = eval(shown) - 1
            -let p = eval(shown) + 1
            -let moins = "/msoftware?toshow=" + m
            -let plus = "/msoftware?toshow=" + p
            a(href=moins)
             i.inlineH(class="fa-solid fa-caret-left fa-xl icon-colour") 
            label.inlineH(for="shown")  - Flight Sheet # #{shown} 
            -if (p <= last)
              a(href=plus)
               i.inlineH(class="fa-solid fa-caret-right fa-xl icon-colour")
          br
          button(type="submit" form="modify") Modify
          -if (message != '')
           h4 #{message}