extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version} 
    form(action="/msoftwarec" method="POST" id="inject")
    form(method="POST" action="/msoftwarec?_method=DELETE" id="cancel")
        div.MessageConfirm
          div.Title
            h1 miner settings
          span.Details Software: #{software}
          br
          h5  Working Directory :
          h2 #{wdir}
          br
          h5  Miner Path :
          h2 #{mpath}
          br
          h7.inlineH keep only new and previous flight sheet
          span.inlineH
            input(type="checkbox" id="switch" name="cleanswt" checked=false form="inject")
            label.toggle(for="switch") 
          br
          br
          button.inlinebutton(type="submit" form="cancel") Cancel
          button.inlinebutton(type="submit" form="inject") Confirm
          