extends layout

block layout-content

  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
        img.logo(src="house-solid.svg"  alt="Main")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-64x64.png" alt="C")
      li
      a(href="/logout")
       img.logo(src="right-from-bracket-solid.svg" Title="Logout") 
      .version v#{version}
    form(action="/nsettings" method="POST" id="modify")
      div.MessageConfirm
          div.Title
            h1 node settings
          div.form-group
            label(for="conceald") Conceald path :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="conceald" name="conceald" value=conceald placeholder=conceald)
          div.form-group
            label(for="name") Name :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="name" name="name" value=name placeholder=name)
          div.form-group
            label(for="feeaddr") fee Address :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="feeaddr" name="feeaddr" value=feeaddr placeholder=feeaddr)
          div.form-group
            label(for="nodeargs") Node Args :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="nodeargs" name="nodeargs" value=nodeargs placeholder=nodeargs)
          div.form-group
            label(for="apiport") Api Port :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="apiport" name="apiport" value=apiport placeholder=apiport)
          div.form-group
            label(for="discordurl") Discord Web Hook :
            input(type="text" style="width: 20rem; overflow-wrap: break-word;" id="discordurl" name="discordurl" value=discordurl placeholder=discordurl)
          button(type="submit" form="modify") Modify
          if (message != '')
            h4 #{message}
