extends layout

block layout-content
  div.View.WelcomeView
    ul.Banner
      li.h1 Conceal Assistant
      li
      a(href="/main")
          i(class="fa-solid fa-house fa-xl icon-colour")
      li
      a(href="/logout")
       i(class="fa-solid fa-right-from-bracket fa-xl icon-colour")
      li 
      a(href="https://conceal.network" target="blank" rel="noopener")
       img.logo(src="logo-256x256-033.png" alt="Logo")
    div.MessageZero
      div.Title
        h1 settings
      span.Details.attention Delete #{user} and Logout ?
      br
      form(method="POST" action="/logout?_method=DELETE")
       button(type="submit") Delete #{user}
    div.MessageSys 
      .Title
        h1 System info 
        br
        table
            tr
              th Cpu
              th Gpu
            tr
              td #{cpu}
              td #{gpu}
            tr 
              td Load : #{load}
              td temp edge : #{tgpu}, #{wgpu} Watt
         
    details
      summary.h1 Credits
      br
      p Conceal Lab project by Conceal Network
      h2 Images
      p Cryptunit.com
        a(href="https://www.cryptunit.com/promo/CCX" target="blank" rel="noopener")
         i(class="fa-solid fa-link icon-colour")
      p Conceal InfoGraphics
      h2 Special Thanks to: 
      p Dave GRAY and his 
        a(href="https://www.youtube.com/@DaveGrayTeachesCode/featured" target="blank" rel="noopener") YouTube
        p  tutorials